@* SPDX-License-Identifier: Apache-2.0 *@
@* Copyright (c) 2025 FVA GmbH - interop4x. All rights reserved. *@

@page
@model UmatiGateway.Pages.ConfigurationModel
@{
    ViewData["Title"] = "Configuration";
}
<h2>Configuration</h2>

<form id="upload-form" method="post">
    <div>
        <fieldset class="settings-fieldset-two-column">
        <div class="column">
            <legend class ="settings-legend">Active Configuration</legend>
            <div class="divider">Application Settings</div>
            <label for="ConfigVersion" class="settings-label">Config Version</label>
            <input id="ConfigVersion" class="settings-input" type="text" name="Configversion" value="@Model.Configuration.Version" readonly>
            <label for="LogLevel" class="settings-label">Log Level</label>
            @removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.SelectTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
            @removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.OptionTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
            <select class="settings-input" id="LogLevel" name="LogLevel" readonly>
                <option value="Trace" @(Model.Configuration.LogLevel == "Trace" ? "selected" : "")>Trace</option>
                <option value="Debug" @(Model.Configuration.LogLevel == "Debug" ? "selected" : "")>Debug</option>
                <option value="Info" @(Model.Configuration.LogLevel == "Info" ? "selected" : "")>Info</option>
                <option value="Warn" @(Model.Configuration.LogLevel == "Warn" ? "selected" : "")>Warn</option>
                <option value="Error" @(Model.Configuration.LogLevel == "Error" ? "selected" : "")>Error</option>
            </select>
            <div class="divider">Start Configuration</div>
            <label for="StartWebUI" class="settings-label">Start WebUI</label>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="StartWebUI" size="60" type="checkbox" name="StartWebUI" value="true" @(Model.Configuration.StartConfiguration.StartWebUI ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
            <label for="StartOPCConnection " class="settings-label">Start OPC Connection</label>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="StartOPCConnection" size="60" type="checkbox" name="StartOPCConnection" value="true" @(Model.Configuration.StartConfiguration.StartOPCConnection ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
            <label for="StartMqttProvider" class="settings-label">Start MQTTProvider</label>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="StartMqttProvider" size="60" type="checkbox" name="StartMqttProvider" value="true" @(Model.Configuration.StartConfiguration.StartMQTTProvider ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
            <label for="StartPubSubProvider" class="settings-label">Start PubSubProvider</label>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="StartPubSubProvider" size="60" type="checkbox" name="StartPubSubProvider" value="true" @(Model.Configuration.StartConfiguration.StartPubSubProvider ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
            <div class="divider">OPC Configuration</div>
            <label for="OpcConnection" class="settings-label">OPC Server Endpoint</label>
            <input id="OpcConnection" class="settings-input" type="text" name="OpcConnectionUrl" value="@Model.Configuration.OPCConnection.ServerEndpoint" readonly>
            <label for="OpcUser" class="settings-label">User</label>
            <input id="OpcUser" class="settings-input" type="text" name="OpcUser" value="@Model.Configuration.OPCConnection.UserName" readonly>
            <label for="OpcPassword" class="settings-label">Password</label>
            <input id="OpcPassword" class="settings-input" type="text" name="OpcPassword" value="@Model.Configuration.OPCConnection.Password" readonly>
            <label for="ReadExtraLibs" class="settings-label">Read Extra Libs</label>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="ReadExtraLibs" size="60" type="checkbox" name="ReadExtraLibs" value="true" @(Model.Configuration.OPCConnection.ReadExtraLibs ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
            <label for="CertPath" class="settings-label">Certificate Path</label>
            <input id="CertPath" class="settings-input" type="text" name="CertPath" value="@Model.Configuration.OPCConnection.CertificatePath" readonly>
            <label for="CertPassword" class="settings-label">Certificate Password</label>
            <input id="CertPassword" class="settings-input" type="text" name="CertPassword" value="@Model.Configuration.OPCConnection.CertificatePassword" readonly>
        </div>
        <div class="column">
            <legend class="settings-legend">&nbsp</legend>
            <div class="divider">MQTT Configuration</div>
            <label for="MQTTBrokerConnection" class="settings-label">MQTT Broker Connectiont</label>
            <input id="MQTTBrokerConnection" class="settings-input" type="text" name="MqttConnectionUrl" value="@Model.Configuration.MqttProviderConfig.ServerEndpoint" readonly>
            <label for="MqttUser" class="settings-label">User</label>
            <input type="text" class="settings-input" id="MqttUser" name="MqttUser" value="@Model.Configuration.MqttProviderConfig.UserName" readonly>
            <label for="Password" class="settings-label">Password</label>
            <input type="password" class="settings-input" id="Password" name="MqttPassword" value="@Model.Configuration.MqttProviderConfig.Password" readonly>
            <label for="ClientId" class="settings-label">ClientId</label>
            <input type="text" class="settings-input" id="ClientId" name="MqttClientId" value="@Model.Configuration.MqttProviderConfig.ClientId" readonly>
            <label for="Prefix" class="settings-label">Prefix</label>
            <input type="text" class="settings-input" id="Prefix" name="MqttPrefix" value="@Model.Configuration.MqttProviderConfig.Prefix" readonly>
            <label for="IncludeStructuredComponents" class="settings-label">Include Structured Components</label>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="IncludeStructuredComponents" size="60" type="checkbox" name="IncludeStructuredcComponents" value="true" @(Model.Configuration.MqttProviderConfig.IncludeStructuredComponents ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
            @{
                    for (int i = 0; i < Model.Configuration.MqttProviderConfig.CustomEncodings.Count; i++)
                {

                    <label for="CustomEncodings[@i].Name" class="settings-label">Use Custom @Model.Configuration.MqttProviderConfig.CustomEncodings[i].Name</label>
                    <input type="hidden" name="CustomEncodings[@i].Name" value="@Model.Configuration.MqttProviderConfig.CustomEncodings[i].Name" />
                    <div class="settings-on-off-label">
                        <span class="off">Off</span>
                        <label class="settings-switch">
                            <!-- <input type="hidden" name="CustomEncodings[@i].Active" value="false" /> -->
                                <input id="CustomEncodings[@i].Active" type="checkbox" name="CustomEncodings[@i].Active" value="true" @(@Model.Configuration.MqttProviderConfig.CustomEncodings[i].Active ? "checked" : "")>
                            <span class="settings-slider"></span>
                        </label>
                        <span class="on">On</span>
                    </div>
                }
            }
                <label for="IgnoredPlaceholderTags" class="settings-label">Ignored Placeholder Tags</label>
                <table id="IgnoredPlaceholderTags" class="nodetable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Configuration.MqttProviderConfig.IgnoredPlaceholderTags.Count; i++)
                        {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td><input name="PublishedNodes[@i].type" value="@Model.Configuration.MqttProviderConfig.IgnoredPlaceholderTags[i].Name" readonly style="width: auto; border: none; outline: none;background-color: transparent;"></td>
                                </tr>
                        }
                    </tbody>
                </table>
            <label for="PublishedNodes" class="settings-label">Published Nodes</label>
            <table id="PublishedNodes" class="nodetable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>NamespaceUrl</th>
                        <th>Identifier</th>
                        <th>BaseType</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Configuration.MqttProviderConfig.PublishedNodes.Count; i++)
                    {
                        if (@Model.Configuration.MqttProviderConfig.PublishedNodes[i].GetType().Name == "PublishedNode")
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td><input name="PublishedNodes[@i].type" value="@Model.Configuration.MqttProviderConfig.PublishedNodes[i].Type" readonly style="width: auto; border: none; outline: none;background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].namespaceUrl" value="@Model.Configuration.MqttProviderConfig.PublishedNodes[i].NamespaceUrl" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].nodeId" value="@Model.Configuration.MqttProviderConfig.PublishedNodes[i].NodeId" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].BaseType" value="@Model.Configuration.MqttProviderConfig.PublishedNodes[i].BaseType" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <label for="PublishedChildNodes" class="settings-label">Published Child Nodes</label>
            <table id="PublishedChildNodes" class="nodetable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>NamespaceUrl</th>
                        <th>Identifier</th>
                        <th>BaseType</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Configuration.MqttProviderConfig.PublishedNodes.Count; i++)
                    {
                        if (@Model.Configuration.MqttProviderConfig.PublishedNodes[i].GetType().Name == "PublishedChildNodes")
                        {
                                
                                <tr>
                                <td>@(i + 1)</td>
                                <td><input name="PublishedNodes[@i].type" value="@Model.Configuration.MqttProviderConfig.PublishedNodes[i].Type" readonly style="width: auto; border: none; outline: none;background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].namespaceUrl" value="@Model.Configuration.MqttProviderConfig.PublishedNodes[i].NamespaceUrl" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].nodeId" value="@Model.Configuration.MqttProviderConfig.PublishedNodes[i].NodeId" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].BaseType" value="@Model.Configuration.MqttProviderConfig.PublishedNodes[i].BaseType" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="divider">PubSub Configuration</div>
            <label for="PubSubConnection" class="settings-label">PubSub Server Endpoint</label>
            <input id="PubSubConnection" class="settings-input" type="text" name="PubSubConnection" value="@Model.Configuration.PubSubProviderConfig.ServerEndpoint" readonly>
            <label for="PubSubUser" class="settings-label">User</label>
            <input type="text" class="settings-input" id="PubSubUser" name="PubSubUser" value="@Model.Configuration.PubSubProviderConfig.UserName" readonly>
            <label for="PubSubPassword" class="settings-label">Password</label>
            <input type="password" class="settings-input" id="PubSubPassword" name="PubSubPassword" value="@Model.Configuration.PubSubProviderConfig.Password" readonly>
            <label for="PubSubClientId" class="settings-label">ClientId</label>
            <input type="text" class="settings-input" id="PubSubClientId" name="PubSubClientId" value="@Model.Configuration.PubSubProviderConfig.ClientId" readonly>
            <label for="PubSubPrefix" class="settings-label">Prefix</label>
            <input type="text" class="settings-input" id="PubSubPrefix" name="PubSubPrefix" value="@Model.Configuration.PubSubProviderConfig.Prefix" readonly>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="PubSubAllowUntrustedCertificates" size="60" type="checkbox" name="PubSubAllowUntrustedCertificates" value="true" @(Model.Configuration.PubSubProviderConfig.AllowUntrustedCertificates ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
            <label for="PublishInterval" class="settings-label">Publish Interval</label>
            <input type="text" class="settings-input" id="PublishInterval" name="PublishInterval" value="@Model.Configuration.PubSubProviderConfig.PublishInterval" readonly>
            <label for="MetaDataUpdateTime" class="settings-label">MetaData Update Time</label>
            <input type="text" class="settings-input" id="MetaDataUpdateTime" name="MetaDataUpdateTime" value="@Model.Configuration.PubSubProviderConfig.MetaDataUpdateTime" readonly>
            <label for="PubSubNodes" class="settings-label">PubSub Nodes</label>
            <table id="PubSub" class="nodetable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>NamespaceUrl</th>
                        <th>Identifier</th>
                        <th>BaseType</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Configuration.PubSubProviderConfig.PublishedNodes.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                                <td><input name="PubSubNodes[@i].type" value="@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].Type" readonly style="width: auto; border: none; outline: none;background-color: transparent;"></td>
                                <td><input name="PubSubNodes[@i].namespaceUrl" value="@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].NamespaceUrl" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PubSubNodes[@i].nodeId" value="@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].NodeId" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PubSubNodes[@i].BaseType" value="@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].BaseType" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                        </tr>
                    }
                </tbody>
            </table>
            <label for="PubSubChildNodes" class="settings-label">PubSub Child Nodes</label>
            <table id="PubSubChildNodes" class="nodetable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>NamespaceUrl</th>
                        <th>Identifier</th>
                        <th>BaseType</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Configuration.PubSubProviderConfig.PublishedNodes.Count; i++)
                    {
                        if (@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].GetType().Name == "PublishedChildNodes")
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td><input name="PubSubNodes[@i].type" value="@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].Type" readonly style="width: auto; border: none; outline: none;background-color: transparent;"></td>
                                <td><input name="PubSubNodes[@i].namespaceUrl" value="@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].NamespaceUrl" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PubSubNodes[@i].nodeId" value="@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].NodeId" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PubSubNodes[@i].BaseType" value="@Model.Configuration.PubSubProviderConfig.PublishedNodes[i].BaseType" readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="settings-button-container">
                <button type="submit" asp-page-handler="Download" class="settings-button"> Download Active Configuration</button>
            </div>
        </div>
        </fieldset>
    </div>
</form>
<script>
    const fileInput = document.getElementById('file-upload');
    const fileNameDisplay = document.getElementById('file-name-display');
    const fileContentInput = document.getElementById('file-content');
    const loadButton = document.getElementById('LoadButton')

    fileInput.addEventListener('change', function () {
        const file = fileInput.files[0];
        if (file) {
            const fileName = fileInput.files.length > 0 ? file.filename : "Keine Datei ausgewählt";
            fileNameDisplay.textContent = "Configuration File " + fileName;
            file.text().then(fileContent => {
                // Dateiinhalt in das versteckte Feld schreiben
                fileContentInput.value = fileContent;
                loadButton.click();
            }).catch(error => {
                console.error("Fehler beim Lesen der Datei:", error);
            })
        } 
    });
</script>
