@* SPDX-License-Identifier: Apache-2.0 *@
@* Copyright (c) 2025 FVA GmbH - interop4x. All rights reserved. *@

@page
@model UmatiGateway.Pages.ConfigurationModel
@{
    ViewData["Title"] = "Configuration";
}
<h2>Configuration</h2>

<form id="upload-form" method="post">
    <div>
        <fieldset class="settings-fieldset-two-column">
        <div class="column">
            <legend class ="settings-legend">Active Configuration</legend>
            <div class="divider">OPC Configuration</div>
            <label for="OpcConnection" class="settings-label">OPC Server Endpoint</label>
            <input id="OpcConnection" class="settings-input" type="text" name="OpcConnectionUrl" value="@Model.configuration.opcServerEndpoint">
            <label for="OpcUser" class="settings-label">User</label>
            <input id="OpcUser" class="settings-input" type="text" name="OpcUser" value="@Model.configuration.opcUser">
            <label for="OpcPassword" class="settings-label">Password</label>
            <input id="OpcPassword" class="settings-input" type="text" name="OpcPassword" value="@Model.configuration.opcPassword">
            <div class="divider">Mqtt Configuration</div>
            <label for="MqttConnection" class="settings-label">Mqtt Server Endpoint</label>
            <input id="MqttConnection" class="settings-input" type="text" name="MqttConnectionUrl" value="@Model.configuration.mqttServerEndpopint">
            <label for="MqttUser" class="settings-label">User</label>
            <input type="text" class="settings-input" id="MqttUser" name="MqttUser" value="@Model.configuration.mqttUser">
            <label for="Password" class="settings-label">Password</label>
            <input type="password" class="settings-input" id="Password" name="MqttPassword" value="@Model.configuration.mqttPassword">
            <label for="ClientId" class="settings-label">ClientId</label>
            <input type="text" class="settings-input" id="ClientId" name="MqttClientId" value="@Model.configuration.mqttClientId">
            <label for="Prefix" class="settings-label">Prefix</label>
            <input type="text"class="settings-input" id="Prefix" name="MqttPrefix" value="@Model.configuration.mqttPrefix">
        </div>
        <div class="column">
            <legend class="settings-legend">&nbsp</legend>
            <div class ="divider">Application Settings</div>
            <label for="Autostart" class="settings-label">AutoStart</label>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="Autostart" type="checkbox" name="AutoStart" value="true" @(Model.configuration.autostart ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
            <label for="ReadExtraLibs" class="settings-label">Read Extra Libs</label>
            <div class="settings-on-off-label">
                <span class="off">Off</span>
                <label class="settings-switch">
                    <input id="ReadExtraLibs" size="60" type="checkbox" name="ReadExtraLibs" value="true" @(Model.configuration.readExtraLibs ? "checked" : "")>
                    <span class="settings-slider"></span>
                </label>
                <span class="on">On</span>
            </div>
                <div class="divider">Custom Encodings</div>
                @{
                    for (int i = 0; i < Model.CustomEncodings.Count; i++)
                    {

                        <label for="CustomEncodings[@i].Name" class="settings-label">@Model.CustomEncodings[i].Name</label>
                        <input type="hidden" name="CustomEncodings[@i].Name" value="@Model.CustomEncodings[i].Name" />
                        <div class="settings-on-off-label">
                            <span class="off">Off</span>
                            <label class="settings-switch">
                                <!-- <input type="hidden" name="CustomEncodings[@i].Active" value="false" /> -->
                                <input id="CustomEncodings[@i].Active" type="checkbox" name="CustomEncodings[@i].Active" value="true" @(@Model.CustomEncodings[i].Active ? "checked" : "")>
                                <span class="settings-slider"></span>
                            </label>
                            <span class="on">On</span>
                        </div>
                    }
                }
            <div class="divider">Published Nodes</div>
            <table class="nodetable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>NamespaceUrl</th>
                        <th>Identifier</th>
                        <th>BaseType</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.PublishedNodes.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                                <td><input name="PublishedNodes[@i].type" value=@Model.PublishedNodes[i].Type readonly style="width: auto; border: none; outline: none;background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].namespaceUrl" value=@Model.PublishedNodes[i].NamespaceUrl readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].nodeId" value=@Model.PublishedNodes[i].NodeId readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                                <td><input name="PublishedNodes[@i].BaseType" value=@Model.PublishedNodes[i].BaseType readonly style="width: auto; border: none; outline: none; background-color: transparent;"></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="settings-button-container">
                <button type="submit" asp-page-handler="Download" class="settings-button"> Download Active Configuration</button>
            </div>
        </div>
        </fieldset>
    </div>
    <!-- <div style="float:right; width:49%">
        <fieldset class="settings-fieldset">
            <legend class="settings-legend" id="file-name-display">Configuration File</legend>
            <label for="OpcConnection" class="settings-label">OPC Server Endpoint</label>
            <input id="OpcConnection" class="settings-input" type="text" name="OpcConnectionUrl" value="@Model.loadedConfiguration.opcServerEndpoint">
            <label for="MqttConnection" class="settings-label">ConnectionUrl</label>
            <input id="MqttConnection" class="settings-input" type="text" name="MqttConnectionUrl" value="@Model.loadedConfiguration.mqttServerEndpopint">
            <label for="MqttUser" class="settings-label">User</label>
            <input type="text" class="settings-input" id="MqttUser" name="MqttUser" value="@Model.loadedConfiguration.mqttUser">
            <label for="Password" class="settings-label">Password</label>
            <input type="password" class="settings-input" id="Password" name="MqttPassword" value="@Model.loadedConfiguration.mqttPassword">
            <label for="ClientId" class="settings-label">ClientId</label>
            <input type="text" class="settings-input" id="ClientId" name="MqttClientId" value="@Model.loadedConfiguration.mqttClientId">
            <label for="Prefix" class="settings-label">Prefix</label>
            <input type="text" class="settings-input" id="Prefix" name="MqttPrefix" value="@Model.loadedConfiguration.mqttPrefix">
            <table class="nodetable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>NamespaceUrl</th>
                        <th>Identifier</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.configuration.publishedNodes.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.configuration.publishedNodes[i].Type</td>
                            <td>@Model.configuration.publishedNodes[i].NamespaceUrl</td>
                            <td>@Model.configuration.publishedNodes[i].NodeId</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="settings-button-container">
                <label for="file-upload" class="file-input-label-as-button">Load</label>
                <input type="file" id="file-upload" class="file-input">
                <input type="hidden" id="file-content" name="FileContent" />
                <button asp-page-handler="Load" style="display:none" id="LoadButton">Apply</button>
                <button asp-page-handler="Apply" class="settings-button" style="margin-left:10px">Apply</button>
            </div>
        </fieldset>
    </div>
    -->
</form>
<script>
    const fileInput = document.getElementById('file-upload');
    const fileNameDisplay = document.getElementById('file-name-display');
    const fileContentInput = document.getElementById('file-content');
    const loadButton = document.getElementById('LoadButton')

    fileInput.addEventListener('change', function () {
        const file = fileInput.files[0];
        if (file) {
            const fileName = fileInput.files.length > 0 ? file.filename : "Keine Datei ausgewählt";
            fileNameDisplay.textContent = "Configuration File " + fileName;
            file.text().then(fileContent => {
                // Dateiinhalt in das versteckte Feld schreiben
                fileContentInput.value = fileContent;
                loadButton.click();
            }).catch(error => {
                console.error("Fehler beim Lesen der Datei:", error);
            })
        } 
    });
</script>
