@* SPDX-License-Identifier: Apache-2.0 *@
@* Copyright (c) 2025 FVA GmbH - interop4x. All rights reserved. *@

@page
@model UmatiGateway.Pages.OPCConnectionModel
@{
    ViewData["Title"] = "OPC Connection";
}
<body>
<h1>OPC Connection</h1>

<p>Configure the connection to the OPC Server.</p>
<form method="post">
    <div style="float:left; width:49%">
    <fieldset class="settings-fieldset">
    <legend class="settings-legend">OPC Connection</legend>
    <label for="OPCConnection" class="settings-label">@Model.LabelConnectionUrl</label>
    <input id="OPCConnection" class="settings-input" type="text" name="ConnectionUrl" value="@Model.ConnectionUrl">
    <div class="settings-button-container">
        <button asp-page-handler="Connect" class="settings-button">Connect</button>
        <button asp-page-handler="Disconnect" class="settings-button" style="margin-left:10px">Disconnect</button>
    </div>
    <label for="SessionId" class="settings-label">@Model.LabelSessionId</label>
    <input id="SessionId" type="text" class="settings-input" value="@Model.SessionId" readonly />
    <label for="OPCSessionName" class="settings-label">@Model.LabelOPCSessionName</label>
    <input id="OPCSessionIdName" type="text" class="settings-input" value="@Model.OPCSessionName" readonly />
    <label for="OPCSessionId" class="settings-label">@Model.LabelOPCSessionId</label>
    <input id="OPCSessionId" type="text" class="settings-input" value="@Model.OPCSessionId" readonly />
    <label for="ConnectionStatus" class="settings-label">@Model.LabelConnectionStatus</label>
    <input id="ConnectionStatus" type="text" class="settings-input" value="@Model.ConnectionStatus" readonly />
    </fieldset>
    </div>
</form>

</body>


