@page
@model UmatiGateway.Pages.OPCSubscriptionsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "OPC Subscriptions";
}
<h1>OPC Subscriptions</h1>

<p>Subscribe to elements you want to publish.</p>

@{
    void DrawTreeNode(OPC.TreeNode node)
    {
        <ul style= "margin-left:10px;margin-top:0px; padding: 0px;">
            <button style="border: none; background-color: inherit; margin-left:10px; padding: 1px 1px; font-size: 10px; cursor: pointer; display: inline-block; height:10px"
                    name="uuid" value="@node.uid" onclick="(() => OnPostBrowseSelectedTreeNode(node.uid)">
                @node.NodeData.node.DisplayName
            </button>
            @{
                if (@node.NodeData.node.DisplayName.Text.Length <= 8)
                {
                    <img src="./css/complete_alt.png" />
                }
                else if (@node.NodeData.node.DisplayName.Text.Length > 8 && @node.NodeData.node.DisplayName.Text.Length < 12)
                {
                    <img src="./css/delete.png" />
                } else
                {
                    <img src="./css/missing.png" />
                }
            }
        
            @{
                foreach (var innernode in node.children)
                {
                    DrawTreeNode(innernode);
                }
        }
        </ul>
    }
}

<div class="uic-tree" style="float:left">
    <form method="post">
        <fieldset>
            <legend>Adress Space</legend>
            @{
                var browseTree = Model.BrowseTree;
                if(browseTree != null)
                {
                    var selectedNode = browseTree.SelectedTreeNode;
                        foreach (var node in browseTree.children)
                        {
                            <ul>
                            <button style="border: none; background-color: inherit; margin-left:10px; padding: 1px 1px; font-size: 10px; cursor: pointer; display: inline-block; height:10px" name="uuid" value="@node.uid" asp-page-handler="BrowseSelectedTreeNode">
                                    @node.NodeData.node.DisplayName
                            </button>
                            @{
                                foreach (var innerNode in node.children) {
                                    DrawTreeNode(innerNode);
                                }
                                }
                            </ul>

                        }
                }
            }
        </fieldset>
    </form>
</div>
<div style="float:right; width:30%">
    <form method="post">
        @{
            var browseTree = Model.BrowseTree;
            if (browseTree != null)
            {
                var selectedUid = browseTree.SelectedTreeNode;
                var selectedNode = Model.GetForUid(selectedUid);
                if(selectedNode!=null)
                {
                    
                    <div>
                        <form method="post">
                            <fieldset>
                                <legend>Attribute</legend>
                                <table>
                                    <tr>
                                        <td><label>NamespaceIndex:</label></td>
                                        <td><input value="@selectedNode.NodeData.node.NodeId.NamespaceIndex" name="NamespaceIndex" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><label>IdType:</label></td>
                                        <td><input value="@selectedNode.NodeData.node.NodeId.IdType" name="IdType" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><label>Identifier:</label></td>
                                        <td><input value="@selectedNode.NodeData.node.NodeId.Identifier" name="Identifier" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><label>NodeClass:</label></td>
                                        <td><input value="@selectedNode.NodeData.node.NodeClass" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><label>BrowseName:</label></td>
                                        <td><input value="@selectedNode.NodeData.node.BrowseName" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><label>DisplayName:</label></td>
                                        <td><input value="@selectedNode.NodeData.node.DisplayName" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><label>Description:</label></td>
                                        <td><input value="@selectedNode.NodeData.node.Description" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><label>Value:</label></td>
                                        <td><input value="@selectedNode.NodeData.DataValue" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <button asp-page-handler="PublishNode" class="button" name="uuid" value="@selectedNode.uid">Publish</button>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                    </div>
                    <div>
                        <form>
                            <fieldset>
                                <legend>Referenzes</legend>
                                <table>
                                    @foreach(var child in selectedNode.children){
                                    <tr>
                                        <td><input value="@child.NodeData.node.BrowseName" readonly /></td>
                                    </tr>
                                    }
                                </table>
                            </fieldset>
                        </form>
                    </div>
          
                } else
                {
                    <div>
                        <fieldset>
                            <legend>Attribute</legend>
                            <span>Bitte wählen Sie eine Node aus.</span>
                        </fieldset>   
                    </div>
                    <div>
                        <fieldset>
                            <legend>Referenzen</legend>
                            <span>Bitte wählen Sie eine Node aus.</span>
                        </fieldset>
                    </div>
                }
            }
        }
    </form>
</div>


