@* SPDX-License-Identifier: Apache-2.0 *@
@* Copyright (c) 2025 FVA GmbH - interop4x. All rights reserved. *@

@page
@model UmatiGateway.Pages.UmatiMqttModel
@{
    ViewData["Title"] = "UMATI Mqtt";
}
<h1>Umati Mqtt</h1>

<p>Configure your Umati Mqtt.</p>

<form method="post">
    <div style="float:left; width:49%">
        <fieldset class="settings-fieldset">
            <legend class="settings-legend">Mqtt Connection</legend>
            <label for="MqttUser" class="settings-label">User</label>
            <input type="text" class="settings-input" id="MqttUser" name="MqttUser" value="@Model.MqttUser">
            <label for="Password" class="settings-label">Password</label>
            <input type="password" class="settings-input" id="Password" name="MqttPassword" value="@Model.Password">
            <label for="ClientId" class="settings-label">ClientId</label>
            <input type="text" class="settings-input" id="ClientId" name="MqttClientId" value="@Model.ClientId">
            <label for="Prefix" class="settings-label">Prefix</label>
            <input type="text" class="settings-input" id="Prefix" name="MqttPrefix" value="@Model.Prefix">
            <label for="MqttConnection" class="settings-label">ConnectionUrl</label>
            <input id="MqttConnection" class="settings-input" type="text" name="ConnectionUrl" value="@Model.ConnectionUrl">
            <div class="settings-button-container">
                <button asp-page-handler="Connect" class="settings-button">Connect</button>
                <button asp-page-handler="Disconnect" class="settings-button" style="margin-left:10px">Disconnect</button>
            </div>
        </fieldset>
    </div>
    <div style="float:right; width:49%">
        <fieldset class="settings-fieldset">
            <legend class="settings-legend">Published Nodes</legend>
            <table class="nodetable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>NamespaceUrl</th>
                        <th>Identifier</th>
                        <th>BasisType</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.publishedNodes.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.publishedNodes[i].type</td>
                            <td>@Model.publishedNodes[i].namespaceUrl</td>
                            <td>@Model.publishedNodes[i].nodeId</td>
                            <td>@Model.publishedNodes[i].baseType</td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>
</form>
